<html lang="en">
    <%- include('./partials/head.ejs')%> 
<body>
    <%- include('./partials/nav.ejs')%> 
    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus iure excepturi fugit distinctio! Ab aliquid sequi, aut magnam, nemo totam alias vel praesentium voluptates esse veritatis dicta facere, eligendi minus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium totam consequuntur eum? Dicta obcaecati voluptas cum enim pariatur quae soluta deserunt tempora. Laudantium?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci reiciendis sint consequatur dolore mollitia quae, fugiat, ab, libero esse soluta eos. Provident id iusto laudantium eius animi laborum tempore fugiat sunt facilis quibusdam ad, officia dignissimos veniam nemo numquam beatae placeat? Officiis tempore nostrum sunt, consequuntur quod rem quos maxime deserunt tenetur vitae veritatis libero autem ipsum odio omnis voluptatibus corporis eum quis et.</p>
    </div>
    <%- include('./partials/footer.ejs')%> 
</body>
</html>